In [5]:
# Importing Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.offsetbox import AnchoredText
import matplotlib.colors as colors
from mpl_toolkits import mplot3d
from math import sqrt
import warnings

import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = (10,10)
plt.rcParams['savefig.dpi'] = 600
plt.rcParams["savefig.format"] = 'tiff'
warnings.filterwarnings("ignore")

In [6]:
sns.set(style='whitegrid')
sns.set_context("paper", font_scale=2)

In [7]:

# To calclulate  Correlation and remove highly  correlated columns
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

In [8]:
df_raw = pd.read_excel('F260_1613.xlsx')
df_raw

,Name of the Reagent,Reagent ID Number,Type of Reagent,Solvent,Smiles,FPD,ABC,ABCGG,nAcid,nBase,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,N-fluoro-N-(phenylsulfonyl)benzenesulfonamide,A1a,N-Fluorosulfonimides,MeCN,O=S(C1=CC=CC=C1)(N(S(C2=CC=C([H])C=C2)(=O)=O)F)=O,229.6,15.347868,13.774328,0,0,...,10.080922,54.025452,315.003528,10.500118,767,34,104,123,7.958333,4.333333
1,N-fluoro-N-(phenylsulfonyl)benzenesulfonamide,A1a,N-Fluorosulfonimides,DCM,O=S(C1=CC=CC=C1)(N(S(C2=CC=C([H])C=C2)(=O)=O)F)=O,242.4,15.347868,13.774328,0,0,...,10.080922,54.025452,315.003528,10.500118,767,34,104,123,7.958333,4.333333
2,N-fluoro-4-methoxy-N-(phenylsulfonyl)benzenesu...,A1b,N-Fluorosulfonimides,MeCN,O=S(C1=CC=CC=C1)(N(S(C2=CC=C(OC)C=C2)(=O)=O)F)=O,231.2,16.762082,14.726048,0,0,...,10.161496,56.461523,345.014093,10.147473,1038,38,114,135,9.069444,4.833333
3,N-fluoro-4-methoxy-N-(phenylsulfonyl)benzenesu...,A1b,N-Fluorosulfonimides,DCM,O=S(C1=CC=CC=C1)(N(S(C2=CC=C(OC)C=C2)(=O)=O)F)=O,244.2,16.762082,14.726048,0,0,...,10.161496,56.461523,345.014093,10.147473,1038,38,114,135,9.069444,4.833333
4,N-fluoro-4-methyl-N-(phenylsulfonyl)benzenesul...,A1c,N-Fluorosulfonimides,MeCN,O=S(C1=CC=CC=C1)(N(S(C2=CC=C(C)C=C2)(=O)=O)F)=O,230.3,16.164365,14.313491,0,0,...,10.136383,55.302587,329.019178,9.970278,892,36,110,130,8.819444,4.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,"(1R,2R,4S,5S)-2-((S)-acetoxy(6-methoxyquinolin...",F6c,N-Fluoroammoniums,DCM,F[N@+]1(C[C@H]2CC)[C@@H]([C@@H](OC(C)=O)C3=C(C...,250.7,22.034198,17.640259,0,1,...,10.566511,64.127058,387.207847,6.914426,1835,50,154,187,9.312500,6.138889
256,Dinitrogen Fluoride,F7,N-Fluoroammoniums,MeCN,N#[N+]F,110.9,1.414214,1.414214,0,1,...,4.174387,17.310771,47.004003,15.668001,4,0,6,4,2.250000,1.000000
257,Dinitrogen Fluoride,F7,N-Fluoroammoniums,DCM,N#[N+]F,112.3,1.414214,1.414214,0,1,...,4.174387,17.310771,47.004003,15.668001,4,0,6,4,2.250000,1.000000
258,Ammonium Fluoride,F8,N-Fluoroammoniums,MeCN,F[N+](F)(F)F,150.9,3.464102,3.464102,0,1,...,7.625107,29.418928,89.996138,17.999228,16,0,20,16,4.062500,1.000000
259,Ammonium Fluoride,F8,N-Fluoroammoniums,DCM,F[N+](F)(F)F,153.0,3.464102,3.464102,0,1,...,7.625107,29.418928,89.996138,17.999228,16,0,20,16,4.062500,1.000000

In [9]:
df = df_raw.drop(['Smiles', 'Solvent', ' Type of Reagent', 'Name of the Reagent', 'FPD', 'Reagent ID Number'], axis=1)

In [10]:
df.head()

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,15.347868,13.774328,0,0,25.102645,2.478172,4.956344,25.102645,1.255132,3.915123,...,10.080922,54.025452,315.003528,10.500118,767,34,104,123,7.958333,4.333333
1,15.347868,13.774328,0,0,25.102645,2.478172,4.956344,25.102645,1.255132,3.915123,...,10.080922,54.025452,315.003528,10.500118,767,34,104,123,7.958333,4.333333
2,16.762082,14.726048,0,0,27.531935,2.482426,4.964851,27.531935,1.251452,4.006197,...,10.161496,56.461523,345.014093,10.147473,1038,38,114,135,9.069444,4.833333
3,16.762082,14.726048,0,0,27.531935,2.482426,4.964851,27.531935,1.251452,4.006197,...,10.161496,56.461523,345.014093,10.147473,1038,38,114,135,9.069444,4.833333
4,16.164365,14.313491,0,0,25.847729,2.481475,4.962950,25.847729,1.230844,3.963631,...,10.136383,55.302587,329.019178,9.970278,892,36,110,130,8.819444,4.500000

In [11]:
df.dropna(axis=1,inplace=True)

In [12]:
df.head()

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,15.347868,13.774328,0,0,25.102645,2.478172,4.956344,25.102645,1.255132,3.915123,...,10.080922,54.025452,315.003528,10.500118,767,34,104,123,7.958333,4.333333
1,15.347868,13.774328,0,0,25.102645,2.478172,4.956344,25.102645,1.255132,3.915123,...,10.080922,54.025452,315.003528,10.500118,767,34,104,123,7.958333,4.333333
2,16.762082,14.726048,0,0,27.531935,2.482426,4.964851,27.531935,1.251452,4.006197,...,10.161496,56.461523,345.014093,10.147473,1038,38,114,135,9.069444,4.833333
3,16.762082,14.726048,0,0,27.531935,2.482426,4.964851,27.531935,1.251452,4.006197,...,10.161496,56.461523,345.014093,10.147473,1038,38,114,135,9.069444,4.833333
4,16.164365,14.313491,0,0,25.847729,2.481475,4.962950,25.847729,1.230844,3.963631,...,10.136383,55.302587,329.019178,9.970278,892,36,110,130,8.819444,4.500000

In [13]:
# Dropping highly correlated Features
corr_features = correlation(df, 0.80)
print("No. o features to drop : ",len(set(corr_features)))

df.drop(corr_features,axis=1,inplace=True)

No. o features to drop :  766

In [14]:
df.head()

,ABC,nAcid,nBase,SpMax_A,SpMAD_A,nAromAtom,nSpiro,nBridgehead,nHetero,nB,...,JGI3,JGI4,JGI5,JGI6,JGI7,JGI8,JGI9,JGI10,TopoShapeIndex,SRW03
0,15.347868,0,0,2.478172,1.255132,12,0,0,8,0,...,0.073529,0.041864,0.035791,0.018367,0.008433,0.004031,0.005625,0.000000,1.000000,0
1,15.347868,0,0,2.478172,1.255132,12,0,0,8,0,...,0.073529,0.041864,0.035791,0.018367,0.008433,0.004031,0.005625,0.000000,1.000000,0
2,16.762082,0,0,2.482426,1.251452,12,0,0,9,0,...,0.067434,0.044444,0.041419,0.020408,0.012427,0.010078,0.006944,0.004959,1.000000,0
3,16.762082,0,0,2.482426,1.251452,12,0,0,9,0,...,0.067434,0.044444,0.041419,0.020408,0.012427,0.010078,0.006944,0.004959,1.000000,0
4,16.164365,0,0,2.481475,1.230844,12,0,0,8,0,...,0.071181,0.045972,0.040638,0.017746,0.012804,0.007421,0.010417,0.008264,0.833333,0

In [15]:
def remove_constant_value_features(df):
    return [e for e in df.columns if df[e].nunique() == 1]

In [16]:
drop_col = remove_constant_value_features(df)
#drop_col

In [17]:
new_df_columns = [e for e in df.columns if e not in drop_col]
new_df = df[new_df_columns]
new_df

,ABC,nAcid,nBase,SpMax_A,SpMAD_A,nAromAtom,nSpiro,nBridgehead,nHetero,nN,...,JGI2,JGI3,JGI4,JGI5,JGI6,JGI7,JGI8,JGI9,JGI10,TopoShapeIndex
0,15.347868,0,0,2.478172,1.255132,12,0,0,8,1,...,0.121864,0.073529,0.041864,0.035791,0.018367,0.008433,0.004031,0.005625,0.000000,1.000000
1,15.347868,0,0,2.478172,1.255132,12,0,0,8,1,...,0.121864,0.073529,0.041864,0.035791,0.018367,0.008433,0.004031,0.005625,0.000000,1.000000
2,16.762082,0,0,2.482426,1.251452,12,0,0,9,1,...,0.124183,0.067434,0.044444,0.041419,0.020408,0.012427,0.010078,0.006944,0.004959,1.000000
3,16.762082,0,0,2.482426,1.251452,12,0,0,9,1,...,0.124183,0.067434,0.044444,0.041419,0.020408,0.012427,0.010078,0.006944,0.004959,1.000000
4,16.164365,0,0,2.481475,1.230844,12,0,0,8,1,...,0.127946,0.071181,0.045972,0.040638,0.017746,0.012804,0.007421,0.010417,0.008264,0.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,22.034198,0,1,2.555561,1.303475,10,0,2,6,2,...,0.086957,0.045000,0.049444,0.029684,0.018022,0.018353,0.012311,0.007049,0.010597,1.000000
256,1.414214,0,1,1.414214,0.942809,0,0,0,3,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
257,1.414214,0,1,1.414214,0.942809,0,0,0,3,2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
258,3.464102,0,1,2.000000,0.800000,0,0,0,5,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
259,3.464102,0,1,2.000000,0.800000,0,0,0,5,1,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000

In [18]:
new_df[['Name of the Reagent','Smiles','Type of Reagent','Reagent ID Number', 'Solvent', 'FPD']] = df_raw[['Name of the Reagent','Smiles',' Type of Reagent','Reagent ID Number', 'Solvent', 'FPD']]

In [19]:
new_df.head()

,ABC,nAcid,nBase,SpMax_A,SpMAD_A,nAromAtom,nSpiro,nBridgehead,nHetero,nN,...,JGI8,JGI9,JGI10,TopoShapeIndex,Name of the Reagent,Smiles,Type of Reagent,Reagent ID Number,Solvent,FPD
0,15.347868,0,0,2.478172,1.255132,12,0,0,8,1,...,0.004031,0.005625,0.000000,1.000000,N-fluoro-N-(phenylsulfonyl)benzenesulfonamide,O=S(C1=CC=CC=C1)(N(S(C2=CC=C([H])C=C2)(=O)=O)F)=O,N-Fluorosulfonimides,A1a,MeCN,229.6
1,15.347868,0,0,2.478172,1.255132,12,0,0,8,1,...,0.004031,0.005625,0.000000,1.000000,N-fluoro-N-(phenylsulfonyl)benzenesulfonamide,O=S(C1=CC=CC=C1)(N(S(C2=CC=C([H])C=C2)(=O)=O)F)=O,N-Fluorosulfonimides,A1a,DCM,242.4
2,16.762082,0,0,2.482426,1.251452,12,0,0,9,1,...,0.010078,0.006944,0.004959,1.000000,N-fluoro-4-methoxy-N-(phenylsulfonyl)benzenesu...,O=S(C1=CC=CC=C1)(N(S(C2=CC=C(OC)C=C2)(=O)=O)F)=O,N-Fluorosulfonimides,A1b,MeCN,231.2
3,16.762082,0,0,2.482426,1.251452,12,0,0,9,1,...,0.010078,0.006944,0.004959,1.000000,N-fluoro-4-methoxy-N-(phenylsulfonyl)benzenesu...,O=S(C1=CC=CC=C1)(N(S(C2=CC=C(OC)C=C2)(=O)=O)F)=O,N-Fluorosulfonimides,A1b,DCM,244.2
4,16.164365,0,0,2.481475,1.230844,12,0,0,8,1,...,0.007421,0.010417,0.008264,0.833333,N-fluoro-4-methyl-N-(phenylsulfonyl)benzenesul...,O=S(C1=CC=CC=C1)(N(S(C2=CC=C(C)C=C2)(=O)=O)F)=O,N-Fluorosulfonimides,A1c,MeCN,230.3

In [20]:
new_df.to_excel('F260_175.xlsx', index=None)